 <launch>
 <!-- gripper and kinect frames -->
  <include file="$(find baxter_launch_files)/launch/yale_gripper_xform.launch"/>
  <!--<include file="$(find baxter_launch_files)/launch/kinect_transform.launch"/>-->
  <!--<include file="$(find coordinator_gamma)/extra_transforms.launch"/>-->
  <!--<include file="$(find freenect_launch)/launch/freenect.launch"/>-->
  <include file="$(find coordinator_gamma)/other_trans.launch"/>
  <!--<node pkg="baxter_gripper" type="orig_dynamixel_motor_node" name="orig_dynamixel_motor_node"/>-->
  <node pkg="baxter_trajectory_streamer" type="rt_arm_as" name="rt_arm_as"  output="screen"/>
  <node pkg="baxter_trajectory_streamer" type="left_arm_as" name="left_arm_as"  output="screen"/> 
  <node pkg="cartesian_planner" type="baxter_cart_move_as" name="baxter_cart_move_as" output="screen"/>
  <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find baxter_launch_files)/rviz_config/baxter.rviz"/>--> 
  <node pkg="baxter_trajectory_streamer" type="pre_pose" name="pre_pose"/>
  <node pkg="coordinator_gamma" type="coordinator_gamma" name="coordinator_gamma"  output="screen"/>
  <node pkg="object_grabber_gamma" type="object_grabber_as_gamma" name="object_grabber_as_gamma"  output="screen"/> 
  <node pkg="object_finder_gamma" type="object_finder_as_gamma" name="object_finder_as_gamma"  output="screen"/> 
  <node pkg="mobot_pub_des_state_gamma" type="open_loop_controller_gamma" name="open_loop_controller_gamma"/>
  <node pkg="mobot_pub_des_state_gamma" type="estop_alert" name="estop_alert"/>
  <node pkg="mobot_pub_des_state_gamma" type="pub_des_state_main_gamma" name="pub_des_state_main_gamma"/>
  <node pkg="navigator_gamma" type="navigator_gamma" name="navigator_gamma"  output="screen"/> 
</launch>
